/* MAKE IT LOOK PRETTY */
.button-delete{
 margin-left:250px ;
 background-color: red;
 color: white;
 border-radius: 13px;
}
body{
    background-image: url("wallpaper.jpg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    image-resolution: 100%;
}
.navbar{
    background-color:red;
}
.div{
    background-color: lightyellow;
}
.container{
    margin-top: 60px;
}
.wrap{
    margin-top: -16px;
    background-color: lightyellow;
}
